<div class="page-container">
  <header class="app-header">
    <h1>Welcome to BookSwap!</h1>
  </header>

  <div class="content-wrapper">
    <div class="homepage">
        <h1>Welcome to BookSwap!</h1>
        <p>Swap books, discover new adventures, make new friends. Use second-hand books, save the planet.</p>
        <div class="title-card">
            <div class="image-container">
              <img src="assets/images/calatorie.jpg" alt="Book Cover" />
            </div>
            <div class="info-container">
              <h2>Calatorie spre centrul Pamantului</h2>
              <p><strong>Marian</strong>, Timișoara, Timiș</p>
              <p class="description">...</p>
            </div>
            <div class="button-container">
                <button class="more-info-button">Vezi detalii</button>
            </div>
        </div>     
    </div>
  </div>

  <footer class="app-footer">
    <div class="footer-buttons">

    </div>
  </footer>
</div>
