<div class="homepage">
    <h1>Welcome to BookSwap!</h1>
    <p>Swap books, discover new adventures, make new friends. Use second hand books, save the planet. So easy to read what you like sustainable and cheap!</p>
    <div class="title-card">
        <div class="image-container">
          <img src="assets/images/calatorie.jpg" alt="Book Cover" />
        </div>
        <div class="info-container">
          <h2>Calatorie spre centrul Pamantului</h2>
          <p><strong>Marian</strong>, Timișoara, Timiș</p>
          <p class="description">
            După descoperirea unui manuscris vechi cu rune, în care se afla o filă scrisă cu cerneală simpatică de istoricul islandez și cărturarul medieval Snorri Sturlusson, un savant, nepotul său și ghidul lor întreprind o călătorie spre centrul Pământului, folosind pentru asta un vulcan islandez.
          </p>
        </div>
        <div class="button-container">
            <button class="more-info-button">Vezi detalii</button>
        </div>
      </div>     
</div>