<div class="page-container">
  <header class="app-header">
    <h1>Welcome to BookSwap!</h1>
  </header>

  <div class="content-wrapper">
    <div class="homepage">
      <h1>Swap Books, Discover Adventures!</h1>
      <p>Use second-hand books, save the planet, and make new friends!</p>
      
      <!-- Search Bar Section -->
      <div class="search-container">
        <input type="text" placeholder="Căutare cărți..." [(ngModel)]="searchQuery" />
        <button (click)="searchBooks()">Căutare</button>
      </div>
      
      <div *ngIf="searchQuery">
        <button (click)="goBack()">Înapoi la cărțile recente</button>
      </div>

      <!-- Mesajul de "Nu am găsit cărți" -->
      <div *ngIf="noResultsMessage">
        <p>{{ noResultsMessage }}</p>
      </div>

      <!-- Recently Added Books -->
      <h2>Cărți Adăugate Recent</h2>
      <div *ngIf="noResultsMessage">
        <p>{{ noResultsMessage }}</p>
      </div>
      <div class="recent-books">
        <div class="title-card" *ngFor="let book of filteredBooks">
          <div class="image-container">
            <img [src]="book.image" alt="Book Cover" />
          </div>
          <div class="info-container">
            <h2>{{ book.title }}</h2>
            <p><strong>{{ book.author }}</strong>, {{ book.location }}</p>
            <p class="description">{{ book.description }}</p>
          </div>
          <div class="button-container">
            <button class="more-info-button" (click)="viewBookDetails(book)">Vezi detalii</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
