.app-header {
    background-color: #7a4141;
    color: white;
    padding: 15px;
    text-align: center;
  }
  
  .app-header h1 {
    font-size: 2rem;
  }
  
  .logo span {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
  }
  button {
    background-color: #bf6f60;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #9a4945;
  }