.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bf6f60; 
}

.spacer {
  flex: 1;
}

.mat-button {
  color: white;
  font-size: 16px;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh; /* Face ca pagina să umple înălțimea ferestrei */
}

.content-wrapper {
  flex: 1; /* Umple tot spațiul rămas între header și footer */
  padding: 20px;
  display: flex;
  flex-direction:column;
}

/* În fișierul global sau CSS-ul pentru paginile login, autentificare și mesaje */

body, html {
  height: 100%; /* Asigură că pagina ocupă întreaga înălțime */
  margin: 0;    /* Elimină marginile implicite */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100%; /* Împinge footerul în jos pe toată înălțimea paginii */
}

main {
  flex-grow: 1;  /* Acesta va ocupa spațiul disponibil dintre header și footer */
}

footer {
  margin-top: auto; /* Asigură că footerul este întotdeauna plasat la capătul paginii */
}
