<div class="about-us">
    <h1>Our Mission</h1>
    <p>We aim for books to be cherished as much as possible. We care about ecology and believe that using second-hand books is beneficial. We want everyone to have access to reading without spending too much money.</p>
    
    <h2>About Us</h2>
    <p>We are Lorena and Sebi, fourth-year students at the Politehnica University of Timișoara. Our love for reading, concern for nature, and worries about the national economic situation inspired us to create this project.</p>
</div>