<div class="page-container">
  <header class="app-header">
    <h1>About Us</h1>
  </header>

  <div class="content-wrapper">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Our Mission</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          We aim for books to be cherished as much as possible. We care about ecology and believe that using second-hand books is beneficial. We want everyone to have access to reading without spending too much money.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-divider></mat-divider>

    <mat-card>
      <mat-card-header>
        <mat-card-title>About Us</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          We are Lorena and Sebi, fourth-year students at the Politehnica University of Timișoara. Our love for reading, concern for nature, and worries about the national economic situation inspired us to create this project.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <footer class="app-footer">
    <div class="footer-buttons">
      
    </div>
  </footer>
</div>
