.app-footer {
  background-color: #4a553d;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto;
  width: 100%; 
  min-height: 100%;
}

.footer-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-buttons button {
  background-color: #9a4945;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer-buttons button:hover {
  background-color: #bf6f60;
}
